[build]
  command = "npm run build"
  publish = "dist"
  environment = { NETLIFY_SKIP_SECRET_SCANNING = "true" }

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
